<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ flatpage.title }}</title>
</head>
<body>
<h2>{{ flatpage.title }}</h2>

<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<h2 style="text-align: center;"><em><strong>SEO-дружественность<br /><span style="color: #ff0000;">Административная панель</span><br /><span style="color: #00ff00;">Зрелость</span><br /><span style="color: #3366ff;">Развитая экосистема</span></strong></em></h2>
<p>&nbsp;</p>

{{ flatpage.content }}
{{ flatpage.content }}
</body>
</html>